.sidebar-nav>ul>li>a {
	font-weight: 700;
	font-size: 15px;
	color: #364149;
}

.markdown-section h2 {
	font-size: 1.55rem;
}

.markdown-section h1 {
	margin: 45px 0 .8rem;
}

.color {
	height: 16px;
	border-radius: 1px;
}

img {
	margin: 20px 0 10px;
}

.medium-zoom-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: opacity .3s;
	will-change: opacity
}

.medium-zoom--opened .medium-zoom-overlay {
	cursor: pointer;
	cursor: zoom-out;
	opacity: 1
}

.medium-zoom-image {
	cursor: pointer;
	cursor: zoom-in;
	transition: transform .3s cubic-bezier(.2, 0, .2, 1) !important
}

.medium-zoom-image--hidden {
	visibility: hidden
}

.medium-zoom-image--opened {
	position: relative;
	cursor: pointer;
	cursor: zoom-out;
	will-change: transform
}

.sidebar {
	padding-top: 0;
}

.search {
	margin-bottom: 20px;
	padding: 6px;
	border-bottom: 1px solid #eee;
}

.search .input-wrap {
	display: flex;
	align-items: center;
}

.search .results-panel {
	display: none;
}

.search .results-panel.show {
	display: block;
}

.search input {
	outline: none;
	border: none;
	width: 100%;
	padding: 0 7px;
	line-height: 36px;
	font-size: 14px;
	border: 1px solid transparent;
}

.search input:focus {
	box-shadow: 0 0 5px var(--theme-color, #42b983);
	border: 1px solid var(--theme-color, #42b983);
}

.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button,
.search input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.search .clear-button {
	cursor: pointer;
	width: 36px;
	text-align: right;
	display: none;
}

.search .clear-button.show {
	display: block;
}

.search .clear-button svg {
	transform: scale(.5);
}

.search h2 {
	font-size: 17px;
	margin: 10px 0;
}

.search a {
	text-decoration: none;
	color: inherit;
}

.search .matching-post {
	border-bottom: 1px solid #eee;
}

.search .matching-post:last-child {
	border-bottom: 0;
}

.search p {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.search p.empty {
	text-align: center;
}

.app-name.hide,
.sidebar-nav.hide {
	display: none;
}
