<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Accordion</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Default Accordion</div>
    <div class="list accordion-list full-width list-dividers list-outline">
      <ul>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">What is the purpose of the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>The purpose of the app is to provide users with a convenient and efficient way to access various services
              on their mobile devices.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">Is the app free to download?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Yes, the app is free to download from the app store.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">How often are updates released for the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Updates for the app are released regularly to improve the user experience and add new features.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">Can I make payments through the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Yes, the app supports various payment methods for your convenience.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="light-gray-title">Without Separation</div>
    <div class="list accordion-list full-width">
      <ul>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">What is the purpose of the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>The purpose of the app is to provide users with a convenient and efficient way to access various services
              on their mobile devices.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">Is the app free to download?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Yes, the app is free to download from the app store.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">How often are updates released for the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Updates for the app are released regularly to improve the user experience and add new features.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">Can I make payments through the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Yes, the app supports various payment methods for your convenience.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="light-gray-title">Opposite Side</div>
    <div class="list accordion-list accordion-opposite list-dividers full-width">
      <ul>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">What is the purpose of the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>The purpose of the app is to provide users with a convenient and efficient way to access various services
              on their mobile devices.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">Is the app free to download?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Yes, the app is free to download from the app store.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">How often are updates released for the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Updates for the app are released regularly to improve the user experience and add new features.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">Can I make payments through the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Yes, the app supports various payment methods for your convenience.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="light-gray-title">Without Auto-Close</div>
    <div class="list full-width list-dividers">
      <ul>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">What is the purpose of the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>The purpose of the app is to provide users with a convenient and efficient way to access various services
              on their mobile devices.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">Is the app free to download?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Yes, the app is free to download from the app store.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">How often are updates released for the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Updates for the app are released regularly to improve the user experience and add new features.</p>
          </div>
        </li>
        <li class="accordion-item">
          <a class="item-content item-link" href="#">
            <div class="item-inner">
              <div class="item-title">Can I make payments through the app?</div>
            </div>
          </a>
          <div class="accordion-item-content">
            <p>Yes, the app supports various payment methods for your convenience.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
