<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Album List</div>
    </div>
  </div>
  <div class="page-content">
    <div class="grid grid-cols-2 album-grid">
      <a href="/album/" class="link">
        <img src="img/albums/1.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Reflection</div>
          <div class="album-author">Phoenix Guys</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/2.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Strong Serenity</div>
          <div class="album-author">Novanation</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/3.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Lumina</div>
          <div class="album-author">Aurora Angel</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/4.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Euphorianum</div>
          <div class="album-author">Cascade</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/5.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Reverie</div>
          <div class="album-author">Solstice Band</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/6.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Harmonic Z</div>
          <div class="album-author">DJ Horizon</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/1.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Reflection</div>
          <div class="album-author">Phoenix Guys</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/2.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Strong Serenity</div>
          <div class="album-author">Novanation</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/3.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Lumina</div>
          <div class="album-author">Aurora Angel</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/4.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Euphorianum</div>
          <div class="album-author">Cascade</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/5.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Reverie</div>
          <div class="album-author">Solstice Band</div>
        </div>
      </a>
      <a href="/album/" class="link">
        <img src="img/albums/6.jpg" alt="">
        <div class="album-details">
          <div class="album-title">Harmonic Z</div>
          <div class="album-author">DJ Horizon</div>
        </div>
      </a>
    </div>
  </div>
</div>
