<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Author List</div>
    </div>
  </div>
  <div class="page-content">
    <div class="list detailed-list list-dividers full-width author-list">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-media"><img src="img/avatars/11.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-name">Olivia Adams</div>
                <div class="item-footer">Sports Journalist</div>
              </div>
              <div class="item-after">
                <div class="button button-fill button-round color-dark button-icon-left author-follow">
                  <i class="icon f7-icons">plus</i>
                  Follow
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-name">Noah Campbell</div>
                <div class="item-footer">War Reporter</div>
              </div>
              <div class="item-after">
                <div class="button button-fill button-round color-dark button-icon-left author-follow">
                  <i class="icon f7-icons">plus</i>
                  Follow
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><img src="img/avatars/4.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-name">William Taylor</div>
                <div class="item-footer">Digital Marketer</div>
              </div>
              <div class="item-after">
                <div class="button button-fill button-round color-dark button-icon-left author-follow">
                  <i class="icon f7-icons">plus</i>
                  Follow
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><img src="img/avatars/5.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-name">Ethan Jameson</div>
                <div class="item-footer">Industry Analyst</div>
              </div>
              <div class="item-after">
                <div class="button button-fill button-round color-dark button-icon-left author-follow">
                  <i class="icon f7-icons">plus</i>
                  Follow
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><img src="img/avatars/9.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-name">Amelia Foster</div>
                <div class="item-footer">Social Media Specialist</div>
              </div>
              <div class="item-after">
                <div class="button button-fill button-round color-dark button-icon-left author-follow">
                  <i class="icon f7-icons">plus</i>
                  Follow
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
