<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Badge</div>
    </div>
  </div>
  <div class="page-content">
    <div class="info-block">
      <div class="info-block-icon"><i class="icon f7-icons">info_circle_fill</i></div>
      <p>Badges provide a way to add additional information to an icon, highlight an element, or simply display
        information in a distinct style.</p>
    </div>
    <div class="light-gray-title">Badges In Text</div>
    <p>
      There are
      <span class="badge color-red">5</span>
      tasks left to complete today. Tomorrow's tasks will be assigned to the
      <span class="badge color-blue">developer</span>
      who will be in charge of finishing the last features until the project is
      <span class="badge color-green">completed</span>
      .
    </p>
    <p>
      Keywords:
      <span class="badge color-light-gray">#Design</span>
      <span class="badge color-light-gray">#Project</span>
      <span class="badge color-light-gray">#App</span>
      <span class="badge color-light-gray">#Coding</span>
    </p>
    <div class="light-gray-title">With Icons</div>
    <span class="badge badge-with-icon color-pink">
      <i class="icon f7-icons">heart_fill</i>
      Favorite
    </span>
    <span class="badge badge-with-icon color-black">
      <i class="icon f7-icons">logo_github</i>
      GitHub
    </span>
    <span class="badge badge-with-icon color-blue">
      <i class="icon f7-icons">logo_twitter</i>
      Twitter
    </span>
    <span class="badge badge-with-icon color-orange">
      <i class="icon f7-icons">person_fill</i>
      User
    </span>
    <div class="light-gray-title">With Images</div>

    <span class="badge badge-with-image color-light-gray">
      <img src="img/avatars/11.jpg" alt="">
      Roxanne
    </span>
    <span class="badge badge-with-image color-light-gray">
      <img src="img/avatars/4.jpg" alt="">
      James
    </span>
    <span class="badge badge-with-image color-light-gray">
      <img src="img/avatars/5.jpg" alt="">
      Steven
    </span>
  </div>
</div>
