<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Button</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Large Buttons</div>
    <a href="#" class="button button-fill">Button Themed</a>
    <a href="#" class="button button-fill color-dark">Button Main</a>
    <a href="#" class="button button-fill color-light-gray">Button Light</a>
    <div class="light-gray-title">Row Buttons</div>
    <p class="grid grid-cols-2 grid-gap grid-buttons-demo">
      <a href="#" class="button button-fill color-light-gray">Sign In</a>
      <a href="#" class="button button-fill color-dark">Sign Up</a>
    </p>
    <p class="grid grid-cols-5 grid-gap grid-buttons">
      <a href="#" class="button button-fill color-dark"><i class="icon f7-icons">logo_linkedin</i></a>
      <a href="#" class="button button-fill color-dark"><i class="icon f7-icons">logo_facebook</i></a>
      <a href="#" class="button button-fill color-dark"><i class="icon f7-icons">logo_google</i></a>
      <a href="#" class="button button-fill color-dark"><i class="icon f7-icons">logo_twitter</i></a>
      <a href="#" class="button button-fill color-dark"><i class="icon f7-icons">logo_apple</i></a>
    </p>
    <div class="light-gray-title">With Icons</div>
    <a href="#" class="button button-fill button-icon-right">
      Randomize
      <i class="icon f7-icons">shuffle</i>
    </a>
    <a href="#" class="button button-fill color-dark button-icon-left">
      <i class="icon f7-icons">logo_apple</i>
      Log In with Apple
    </a>
    <div class="light-gray-title">Rounded</div>
    <a href="#" class="button button-fill button-round">Button</a>
    <a href="#" class="button button-fill button-round color-dark">Button Dark</a>
    <a href="#" class="button button-fill button-round color-light-gray">Button Light</a>
    <div class="light-gray-title">Colored</div>
    <a href="#" class="button button-fill button-round color-green">Button Green</a>
    <a href="#" class="button button-fill button-round color-red">Button Red</a>
    <a href="#" class="button button-fill button-round color-yellow">Button Yellow</a>
    <a href="#" class="button button-fill button-round color-orange">Button Orange</a>
    <a href="#" class="button button-fill button-round color-purple">Button Purple</a>
    <a href="#" class="button button-fill button-round color-deeppurple">Button Deep Purple</a>
    <a href="#" class="button button-fill button-round color-lightblue">Button Light Blue</a>
    <a href="#" class="button button-fill button-round color-teal">Button Teal</a>
    <a href="#" class="button button-fill button-round color-lime">Button Lime</a>
  </div>
</div>
