<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Card With Big Footer</div>
    </div>
  </div>
  <div class="page-content">
    <div class="card">
      <div class="card-image">
        <img src="img/cards/2.jpg" alt="" class="card-big-footer-image">
      </div>
      <div class="card-footer card-big-footer">
        <h2>Exploring the World of Boat Movies on the Silver Screen</h2>
        <p>Step aboard and set sail on a cinematic journey as we delve into the captivating world of boat movies, where
          the vast ocean becomes a backdrop for thrilling adventures and unforgettable stories.</p>
        <a href="/single/" class="button button-fill button-round color-dark">
          Read More
          <i class="icon f7-icons">arrow_right</i>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img src="img/cards/5.jpg" alt="" class="card-big-footer-image">
      </div>
      <div class="card-footer card-big-footer">
        <h2>The Importance of Company Statistics</h2>
        <p>Company statistics play a crucial role in evaluating the performance and success of a business. Learn more
          about these metrics.</p>
        <a href="/single/" class="button button-fill button-round">
          Read More
          <i class="icon f7-icons">arrow_right</i>
        </a>
      </div>
    </div>
  </div>
</div>
