<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Card With Footer</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Standard Style</div>
    <a href="/single/" class="card">
      <div class="card-image">
        <img src="img/cards/4.jpg" alt="">
        <div class="card-image-footer">
          <div class="card-category bg-color-white">Science</div>
          <h2>Exploring the Adaptations and Behaviors of these Majestic Birds</h2>
        </div>
      </div>
      <div class="card-footer card-author-footer">
        <img class="author-image" src="img/avatars/11.jpg" alt="">
        <div class="card-footer-middle">
          <div class="card-author">Sophia Miller</div>
          <div class="card-date">2 hours ago</div>
        </div>
        <div class="card-footer-right">
          <span class="badge badge-with-icon color-green">
            <i class="icon f7-icons">money_dollar_circle_fill</i>
            Paid
          </span>
        </div>
      </div>
    </a>
    <a href="/single/" class="card">
      <div class="card-image">
        <img src="img/cards/2.jpg" alt="">
        <div class="card-image-footer">
          <div class="card-category bg-color-white">Movies</div>
          <h2>A Guide to the Best Action Movies of All Time</h2>
        </div>
      </div>
      <div class="card-footer card-author-footer">
        <img class="author-image" src="img/avatars/4.jpg" alt="">
        <div class="card-footer-middle">
          <div class="card-author">James Johnson</div>
          <div class="card-date">5 hours ago</div>
        </div>
        <div class="card-footer-right">
          <i class="icon f7-icons color-yellow">star_fill</i>
        </div>
      </div>
    </a>
    <a href="/single/" class="card">
      <div class="card-image">
        <img src="img/cards/1.jpg" alt="">
        <div class="card-image-footer">
          <div class="card-category bg-color-white">Gaming</div>
          <h2>The Exciting Future of Gaming Technology</h2>
        </div>
      </div>
      <div class="card-footer card-author-footer">
        <img class="author-image" src="img/avatars/5.jpg" alt="">
        <div class="card-footer-middle">
          <div class="card-author">Steven Hernandez</div>
          <div class="card-date">7 hours ago</div>
        </div>
        <div class="card-footer-right">
          <i class="icon f7-icons color-red">suit_heart_fill</i>
        </div>
      </div>
    </a>
  </div>
</div>
