<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Checkbox</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Inline</div>
    <p>
      <label class="checkbox checkbox-inline">
        <input type="checkbox" checked="checked">
        <i class="icon-checkbox"></i>
      </label>
      Accept Terms & Conditions
    </p>
    <div class="light-gray-title">Checkbox Group</div>
    <div class="list list-outline list-dividers full-width">
      <ul>
        <li>
          <label class="item-checkbox item-content">
            <input type="checkbox" name="demo-checkbox" value="Books" checked="checked">
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Photography</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-checkbox item-content">
            <input type="checkbox" name="demo-checkbox" value="Movies">
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Technology</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-checkbox item-content">
            <input type="checkbox" name="demo-checkbox" value="Food" checked="checked">
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Politics</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-checkbox item-content">
            <input type="checkbox" name="demo-checkbox" value="Drinks" checked="checked">
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Philosophy</div>
            </div>
          </label>
        </li>
      </ul>
    </div>
    <div class="light-gray-title">Inline Rounded</div>
    <p>
      <label class="checkbox checkbox-inline checkbox-rounded">
        <input type="checkbox" checked="checked">
        <i class="icon-checkbox"></i>
      </label>
      Accept Terms & Conditions
    </p>
    <div class="light-gray-title">Group Rounded</div>
    <div class="list list-outline list-dividers full-width">
      <ul>
        <li>
          <label class="item-checkbox item-content checkbox-rounded">
            <input type="checkbox" name="demo-checkbox" value="Books" checked="checked">
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Nature</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-checkbox item-content checkbox-rounded">
            <input type="checkbox" name="demo-checkbox" value="Movies">
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Fashion</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-checkbox item-content checkbox-rounded">
            <input type="checkbox" name="demo-checkbox" value="Food" checked="checked">
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Cooking</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-checkbox item-content checkbox-rounded">
            <input type="checkbox" name="demo-checkbox" value="Drinks" checked="checked">
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Pets</div>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
