<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Comments</div>
    </div>
  </div>
  <div class="page-content">
    <div class="comment-list">
      <div class="comment">
        <img src="img/avatars/3.jpg" alt="">
        <div class="comment-infos">
          <div class="comment-header">
            <div class="comment-header-left">
              <div class="author-name">Noah Campbell</div>
              <div class="comment-date">• 12m</div>
            </div>
            <div class="comment-options">
              <a href="#" class="link"><i class="icon f7-icons">ellipsis_vertical</i></a>
            </div>
          </div>
          <div class="comment-text">Great article! You made some really good points and I appreciate the time and effort
            you put into it, thank you.</div>
        </div>
      </div>
      <div class="comment">
        <img src="img/avatars/6.jpg" alt="">
        <div class="comment-infos">
          <div class="comment-header">
            <div class="comment-header-left">
              <div class="author-name">Mia Sullivan</div>
              <div class="comment-date">• 40m</div>
            </div>
            <div class="comment-options">
              <a href="#" class="link"><i class="icon f7-icons">ellipsis_vertical</i></a>
            </div>
          </div>
          <div class="comment-text">I couldn't agree more with your perspective on this topic. It's refreshing to see
            someone who thinks outside the box and challenges the status quo. Great article.</div>
        </div>
      </div>
      <div class="comment comment-reply">
        <img src="img/avatars/2.jpg" alt="">
        <div class="comment-infos">
          <div class="comment-header">
            <div class="comment-header-left">
              <div class="author-name">Liam Evans</div>
              <div class="comment-date">• 13m</div>
            </div>
            <div class="comment-options">
              <a href="#" class="link"><i class="icon f7-icons">ellipsis_vertical</i></a>
            </div>
          </div>
          <div class="comment-text">I totally agree! It's a refreshing change from the polarizing discourse we often see
            everywhere.</div>
        </div>
      </div>
      <div class="comment">
        <img src="img/avatars/4.jpg" alt="">
        <div class="comment-infos">
          <div class="comment-header">
            <div class="comment-header-left">
              <div class="author-name">William Taylor</div>
              <div class="comment-date">• 2h</div>
            </div>
            <div class="comment-options">
              <a href="#" class="link"><i class="icon f7-icons">ellipsis_vertical</i></a>
            </div>
          </div>
          <div class="comment-text">This is a topic that I've been passionate about for a long time, and I appreciate
            the way you articulated your thoughts and opinions on the matter.</div>
        </div>
      </div>
      <div class="comment">
        <img src="img/avatars/5.jpg" alt="">
        <div class="comment-infos">
          <div class="comment-header">
            <div class="comment-header-left">
              <div class="author-name">Ethan Jameson</div>
              <div class="comment-date">• 1d</div>
            </div>
            <div class="comment-options">
              <a href="#" class="link"><i class="icon f7-icons">ellipsis_vertical</i></a>
            </div>
          </div>
          <div class="comment-text">As someone who has experienced this firsthand, I can tell you that you're spot on
            with your analysis. Thank you for shedding light on this important issue.</div>
        </div>
      </div>
    </div>
  </div>
</div>
