<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Information Block</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">General Message With Icon</div>
    <div class="information-block">
      <img src="img/images/offer.png" alt="">
      <h2>Don't miss it!</h2>
      <p>
        Get 30% off on all our products now.
        <br>
        The offer expires in 10 days!
      </p>
    </div>
    <div class="light-gray-title">Success Message</div>
    <div class="information-block success-message">
      <h2>Congratulations!</h2>
      <p>
        You successfully created your account.
        <br>
        Welcome on board!
      </p>
    </div>
    <div class="light-gray-title">Error Message</div>
    <div class="information-block error-message">
      <h2>Attention!</h2>
      <p>
        This action cannot be reversed.
        <br>
        Be sure before you do this.
      </p>
    </div>
  </div>
</div>
