<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Link Banner</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Standard colors</div>
    <a href="#" class="link link-banner dark-theme-green link-chevron">
      <i class="icon f7-icons">tickets</i>
      <div class="link-banner-text">
        <div class="link-banner-title">Book Tickets Now</div>
        <div class="link-banner-subtitle">And get 30% discount</div>
      </div>
    </a>
    <a href="#" class="link link-banner link-chevron bg-color-primary">
      <i class="icon f7-icons">envelope</i>
      <div class="link-banner-text">
        <div class="link-banner-title">Send An Email</div>
        <div class="link-banner-subtitle">We respond within 48 hours</div>
      </div>
    </a>
    <a href="#" class="link link-banner link-chevron bg-color-dark bg-color-black">
      <i class="icon f7-icons">tickets</i>
      <div class="link-banner-text">
        <div class="link-banner-title">Book Tickets Now</div>
        <div class="link-banner-subtitle">And get 30% discount</div>
      </div>
    </a>
    <div class="light-gray-title">Information link</div>
    <a href="#" class="link link-banner link-chevron error-message">
      <i class="icon f7-icons">exclamationmark_shield</i>
      <div class="link-banner-text">
        <div class="link-banner-title">An error has occured</div>
        <div class="link-banner-subtitle">Click here to see more details</div>
      </div>
    </a>
    <a href="#" class="link link-banner link-chevron success-message">
      <i class="icon f7-icons">checkmark_seal</i>
      <div class="link-banner-text">
        <div class="link-banner-title">Account Verified</div>
        <div class="link-banner-subtitle">You can now enjoy all the benefits.</div>
      </div>
    </a>
    <div class="light-gray-title">Custom color and image</div>
    <a href="#" class="link link-banner link-chevron bg-color-dark bg-color-black">
      <img src="img/icons/netflix.png" alt="">
      <div class="link-banner-text">
        <div class="link-banner-title">Watch On Netflix</div>
        <div class="link-banner-subtitle">Don't miss this incredible movie!</div>
      </div>
    </a>
    <a href="#" class="link link-banner link-chevron bg-color-dark bg-color-black">
      <img src="img/icons/spotify.svg" alt="">
      <div class="link-banner-text">
        <div class="link-banner-title">Listen On Spotify</div>
        <div class="link-banner-subtitle">In exclusivity only on this platform!</div>
      </div>
    </a>
  </div>
</div>
