<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">List With Icons</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">With Icons</div>
    <div class="list list-with-icons list-outline list-dividers full-width">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon f7-icons">logo_github</i></div>
            <div class="item-inner">
              <div class="item-title">GitHub</div>
              <div class="item-after"><span class="badge color-black">24 issues</span></div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon f7-icons color-lightblue">logo_twitter</i></div>
            <div class="item-inner">
              <div class="item-title">Twitter</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon f7-icons">logo_apple</i></div>
            <div class="item-inner">
              <div class="item-title">Apple</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon f7-icons color-blue">logo_linkedin</i></div>
            <div class="item-inner">
              <div class="item-title">LinkedIn</div>
              <div class="item-after"><span class="badge color-blue">155 connections</span></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="light-gray-title">With Small Images</div>
    <div class="list list-with-icons list-outline list-dividers full-width">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">Steven Johnson</div>
              <div class="item-after">
                <span class="badge badge-with-icon color-blue">
                  <i class="icon f7-icons">phone_fill</i>
                  Customer Support
                </span>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><img src="img/avatars/4.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">James Davis</div>
              <div class="item-after">
                <span class="badge badge-with-icon color-teal">
                  <i class="icon f7-icons">graph_circle_fill</i>
                  Data Analyst
                </span>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><img src="img/avatars/5.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">Anthony Smith</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><img src="img/avatars/10.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">Lauren Wilson</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="light-gray-title">As Links</div>
    <div class="list list-with-icons list-outline list-dividers full-width">
      <ul>
        <li>
          <a href="/profile/" class="item-link item-content">
            <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">Steven Johnson</div>
              <div class="item-after">CEO</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/profile/" class="item-link item-content">
            <div class="item-media"><img src="img/avatars/4.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">James Davis</div>
              <div class="item-after">
                <span class="badge badge-with-icon color-black">
                  <i class="icon f7-icons">logo_github</i>
                  iOS Developer
                </span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/profile/" class="item-link item-content">
            <div class="item-media"><img src="img/avatars/5.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">Anthony Smith</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/profile/" class="item-link item-content">
            <div class="item-media"><img src="img/avatars/10.jpg" alt=""></div>
            <div class="item-inner">
              <div class="item-title">Lauren Wilson</div>
              <div class="item-after">
                <span class="badge badge-with-icon color-orange">
                  <i class="icon f7-icons">person_alt</i>
                  Manager
                </span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
