<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">List</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Simple List</div>
    <div class="list simple-list list-outline list-dividers full-width">
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ul>
    </div>
    <div class="light-gray-title">Links List</div>
    <div class="list links-list list-outline list-dividers full-width">
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </div>
    <div class="light-gray-title">List With Badges</div>
    <div class="list simple-list list-outline list-dividers full-width">
      <ul>
        <li>
          <div class="item-inner">
            <div class="item-title">Sarah Johnson</div>
            <div class="item-after">
              <span class="badge badge-with-icon color-orange">
                <i class="icon f7-icons">person_alt</i>
                Manager
              </span>
            </div>
          </div>
        </li>
        <li>
          <div class="item-inner">
            <div class="item-title">Emily Davis</div>
            <div class="item-after">
              <span class="badge badge-with-icon color-black">
                <i class="icon f7-icons">logo_github</i>
                iOS Developer
              </span>
            </div>
          </div>
        </li>
        <li>
          <div class="item-inner">
            <div class="item-title">Michael Smith</div>
            <div class="item-after">
              <span class="badge badge-with-icon color-teal">
                <i class="icon f7-icons">graph_circle_fill</i>
                Data Analyst
              </span>
            </div>
          </div>
        </li>
        <li>
          <div class="item-inner">
            <div class="item-title">Lauren Wilson</div>
            <div class="item-after">
              <span class="badge badge-with-icon color-blue">
                <i class="icon f7-icons">phone_fill</i>
                Customer Support
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
