<div class="page" data-name="picker">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Picker</div>
    </div>
  </div>
  <div class="page-content">
    <div class="info-block">
      <div class="info-block-icon"><i class="icon f7-icons">info_circle_fill</i></div>
      <p>Picker allows the user to select a value from a given list of values. Click in any input field to test it.</p>
    </div>
    <div class="light-gray-title">Choose your language</div>
    <input type="text" placeholder="Choose" readonly="readonly" id="demo-picker-language">

    <div class="light-gray-title">Enter your birth date</div>
    <div class="grid grid-cols-3 grid-gap">
      <input type="text" placeholder="Month" readonly="readonly" id="demo-picker-month">
      <input type="text" placeholder="Day" readonly="readonly" id="demo-picker-day">
      <input type="text" placeholder="Year" readonly="readonly" id="demo-picker-year">
    </div>
  </div>
</div>
