<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Post List</div>
    </div>
  </div>
  <div class="page-content">
    <div class="post-list">
      <a href="/single/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">Sports</div>
          <div class="post-title">Dazzling Dunks and Clutch Shots: The Thrills of the NBA</div>
          <div class="post-date">12 minutes ago</div>
        </div>
        <div class="post-image"><img src="img/post-list/1.jpg" alt=""></div>
      </a>
      <a href="/single/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">Science</div>
          <div class="post-title">Majestic King of the Savannah: The Untamed Beauty of Lions</div>
          <div class="post-date">30 minutes ago</div>
        </div>
        <div class="post-image"><img src="img/post-list/2.jpg" alt=""></div>
      </a>
      <a href="/single/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">Sports</div>
          <div class="post-title">Record-Breaking Athlete Shatters Long-Standing World Records</div>
          <div class="post-date">2 hours ago</div>
        </div>
        <div class="post-image"><img src="img/post-list/3.jpg" alt=""></div>
      </a>
      <a href="/single/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">Fashion</div>
          <div class="post-title">Top Fashion Designers Unveil Innovative Collections for the Upcoming Season</div>
          <div class="post-date">3 hours ago</div>
        </div>
        <div class="post-image"><img src="img/post-list/4.jpg" alt=""></div>
      </a>
      <a href="/single/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">Technology</div>
          <div class="post-title">How Revolutionary AI Technology Transforms Industries</div>
          <div class="post-date">1 day ago</div>
        </div>
        <div class="post-image"><img src="img/post-list/5.jpg" alt=""></div>
      </a>
      <a href="/single/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">Health</div>
          <div class="post-title">Cutting-Edge Medical Breakthrough Promises New Hope for Tropical Diseases Vaccines
          </div>
          <div class="post-date">2 days ago</div>
        </div>
        <div class="post-image"><img src="img/post-list/6.jpg" alt=""></div>
      </a>
      <a href="/single/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">Business</div>
          <div class="post-title">From Companions to Protectors: Celebrating the Canine Species</div>
          <div class="post-date">5 days ago</div>
        </div>
        <div class="post-image"><img src="img/post-list/7.jpg" alt=""></div>
      </a>
      <a href="/single/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">Environment</div>
          <div class="post-title">Renewable Energy Initiatives Pave the Way for a Sustainable Future</div>
          <div class="post-date">1 week ago</div>
        </div>
        <div class="post-image"><img src="img/post-list/8.jpg" alt=""></div>
      </a>
      <a href="/single/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">Travel</div>
          <div class="post-title">Explore Exotic Destinations Off the Beaten Path</div>
          <div class="post-date">2 weeks ago</div>
        </div>
        <div class="post-image"><img src="img/post-list/9.jpg" alt=""></div>
      </a>
      <a href="/single/" class="link post-horizontal">
        <div class="infos">
          <div class="post-category">Music</div>
          <div class="post-title">The Transformative Power of the Folk Music</div>
          <div class="post-date">1 month ago</div>
        </div>
        <div class="post-image"><img src="img/post-list/10.jpg" alt=""></div>
      </a>
    </div>
  </div>
</div>
