<div class="page" data-name="preloader">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Preloader</div>
    </div>
  </div>
  <div class="page-content">
    <div class="info-block">
      <div class="info-block-icon"><i class="icon f7-icons">info_circle_fill</i></div>
      <p>Use the animated preloader as an indicator during a load, such as an Ajax request. The preloader can be
        displayed as an inline element or as an overlay.</p>
    </div>
    <div class="light-gray-title">Default Preloader</div>
    <div class="text-align-center">
      <div class="preloader"></div>
    </div>
    <div class="light-gray-title">Multi-color Preloader</div>
    <div class="text-align-center">
      <div class="preloader color-multi"></div>
    </div>
    <div class="light-gray-title">Overlay Preloader</div>
    <a href="#" class="button button-fill color-dark open-preloader">Display Preloader</a>
    <div class="light-gray-title">Colored Preloaders</div>
    <div class="grid grid-cols-4 grid-gap preloader-demo">
      <div>
        <div class="preloader color-blue"></div>
      </div>
      <div>
        <div class="preloader color-red"></div>
      </div>
      <div>
        <div class="preloader color-purple"></div>
      </div>
      <div>
        <div class="preloader color-teal"></div>
      </div>
    </div>
    <div class="light-gray-title">Big Preloaders</div>
    <div class="grid grid-cols-4 grid-gap preloader-demo">
      <div>
        <div class="preloader preloader-big"></div>
      </div>
      <div>
        <div class="preloader preloader-big color-orange"></div>
      </div>
      <div>
        <div class="preloader preloader-big color-green"></div>
      </div>
      <div>
        <div class="preloader preloader-big color-blue"></div>
      </div>
    </div>
  </div>
</div>
