<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Progress Bar</div>
    </div>
  </div>
  <div class="page-content">
    <div class="info-block">
      <div class="info-block-icon"><i class="icon f7-icons">info_circle_fill</i></div>
      <p>Progress bars can be used to show the progress of a load. Its value can be easily changed dynamically by
        modifying the data-progress attribute.</p>
    </div>
    <div class="light-gray-title">Fixed Value</div>
    <span data-progress="20" class="progressbar"></span>
    <span data-progress="40" class="progressbar"></span>
    <span data-progress="60" class="progressbar"></span>
    <span data-progress="80" class="progressbar"></span>
    <span data-progress="100" class="progressbar"></span>
    <div class="light-gray-title">Infinite Progress Bar</div>
    <span class="progressbar-infinite"></span>
    <div class="light-gray-title">Infinite Multi-color</div>
    <span class="progressbar-infinite color-multi"></span>
  </div>
</div>
