<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Radio</div>
    </div>
  </div>
  <div class="page-content">
    <div class="info-block">
      <div class="info-block-icon"><i class="icon f7-icons">info_circle_fill</i></div>
      <p>Radio is the same as checkboxes, but only one item can be selected at a time.</p>
    </div>
    <div class="light-gray-title">Inline</div>
    <p>
      <label class="radio" style="margin-left: 5px">
        <input type="radio" name="demo-radio-inline">
        <i class="icon-radio"></i>
      </label>
      Male
      <label class="radio" style="margin-left: 5px">
        <input type="radio" name="demo-radio-inline">
        <i class="icon-radio"></i>
      </label>
      Female
    </p>
    <div class="light-gray-title">Radio Group Right</div>
    <div class="list list-outline list-dividers full-width">
      <ul>
        <li>
          <label class="item-radio item-radio-icon-end item-content">
            <input type="radio" name="radio-category" value="Sports" checked>
            <i class="icon icon-radio"></i>
            <div class="item-inner">
              <div class="item-title">Sports</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-radio item-radio-icon-end item-content">
            <input type="radio" name="radio-category" value="Movies">
            <i class="icon icon-radio"></i>
            <div class="item-inner">
              <div class="item-title">Movies</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-radio item-radio-icon-end item-content">
            <input type="radio" name="radio-category" value="Politics">
            <i class="icon icon-radio"></i>
            <div class="item-inner">
              <div class="item-title">Politics</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-radio item-radio-icon-end item-content">
            <input type="radio" name="radio-category" value="Food">
            <i class="icon icon-radio"></i>
            <div class="item-inner">
              <div class="item-title">Food</div>
            </div>
          </label>
        </li>
      </ul>
    </div>
    <div class="light-gray-title">Radio Group Left</div>
    <div class="list list-outline list-dividers full-width">
      <ul>
        <li>
          <label class="item-radio item-radio-icon-start item-content">
            <input type="radio" name="radio-brand" value="Apple" checked>
            <i class="icon icon-radio"></i>
            <div class="item-inner">
              <div class="item-title">Apple</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-radio item-radio-icon-start item-content">
            <input type="radio" name="radio-brand" value="Samsung">
            <i class="icon icon-radio"></i>
            <div class="item-inner">
              <div class="item-title">Samsung</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-radio item-radio-icon-start item-content">
            <input type="radio" name="radio-brand" value="Xiaomi">
            <i class="icon icon-radio"></i>
            <div class="item-inner">
              <div class="item-title">Xiaomi</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-radio item-radio-icon-start item-content">
            <input type="radio" name="radio-brand" value="Sony">
            <i class="icon icon-radio"></i>
            <div class="item-inner">
              <div class="item-title">Sony</div>
            </div>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
