<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Rating</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Rating Block</div>
    <div class="rating-block">
      <div class="rating-block-stars">
        <i class="icon f7-icons color-yellow">star_fill</i>
        <i class="icon f7-icons color-yellow">star_fill</i>
        <i class="icon f7-icons color-yellow">star_fill</i>
        <i class="icon f7-icons color-yellow">star_fill</i>
        <i class="icon f7-icons color-yellow">star_lefthalf_fill</i>
      </div>
      <div class="rating-block-note">4.6/5.0</div>
      <div class="rating-block-text">All our customers are completely satisfied with our application!</div>
    </div>

    <div class="light-gray-title">Rating Block With Background</div>
    <div class="rating-block rating-bg">
      <div class="rating-block-stars">
        <i class="icon f7-icons color-yellow">star_fill</i>
        <i class="icon f7-icons color-yellow">star_fill</i>
        <i class="icon f7-icons color-yellow">star_fill</i>
        <i class="icon f7-icons color-yellow">star_fill</i>
        <i class="icon f7-icons color-yellow">star_lefthalf_fill</i>
      </div>
      <div class="rating-block-note">4.6/5.0</div>
      <div class="rating-block-text">All our customers are completely satisfied with our application!</div>
    </div>

    <div class="light-gray-title">Rating Detailed</div>
    <div class="rating-block-detailed">
      <div class="rating-block-total">
        <div class="rating-block-stars">
          <i class="icon f7-icons color-yellow">star_fill</i>
          <i class="icon f7-icons color-yellow">star_fill</i>
          <i class="icon f7-icons color-yellow">star_fill</i>
          <i class="icon f7-icons color-yellow">star_fill</i>
          <i class="icon f7-icons color-yellow">star_fill</i>
        </div>
        <div class="rating-block-total-text">4.8 out of 5</div>
      </div>
      <div class="rating-block-count">137 customer ratings</div>
      <div class="rating-block-group">
        <div class="rating-block-individual">
          <div class="rating-block-star">
            5
            <i class="icon f7-icons color-yellow">star_fill</i>
          </div>
          <span data-progress="88" class="progressbar color-yellow rating-block-bar"></span>
          <div class="rating-block-percentage">88%</div>
        </div>
        <div class="rating-block-individual">
          <div class="rating-block-star">
            4
            <i class="icon f7-icons color-yellow">star_fill</i>
          </div>
          <span data-progress="47" class="progressbar color-yellow rating-block-bar"></span>
          <div class="rating-block-percentage">47%</div>
        </div>
        <div class="rating-block-individual">
          <div class="rating-block-star">
            3
            <i class="icon f7-icons color-yellow">star_fill</i>
          </div>
          <span data-progress="20" class="progressbar color-yellow rating-block-bar"></span>
          <div class="rating-block-percentage">20%</div>
        </div>
        <div class="rating-block-individual">
          <div class="rating-block-star">
            2
            <i class="icon f7-icons color-yellow">star_fill</i>
          </div>
          <span data-progress="8" class="progressbar color-yellow rating-block-bar"></span>
          <div class="rating-block-percentage">8%</div>
        </div>
        <div class="rating-block-individual">
          <div class="rating-block-star">
            1
            <i class="icon f7-icons color-yellow">star_fill</i>
          </div>
          <span data-progress="3" class="progressbar color-yellow rating-block-bar"></span>
          <div class="rating-block-percentage">3%</div>
        </div>
      </div>
    </div>
  </div>
</div>
