<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Card Slider</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">With Category</div>
    <swiper-container class="full-width" slides-per-view="1.2" space-between="15" slides-offset-after="15"
      slides-offset-before="15" speed="400">
      <swiper-slide>
        <a href="#" data-href="/single/" class="card">
          <div class="card-image">
            <img src="img/cards/1.jpg" alt="">
            <div class="card-image-footer">
              <div class="card-category bg-color-white">Gaming</div>
              <h2>The Exciting Future of Gaming Technology</h2>
            </div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/single/" class="card">
          <div class="card-image">
            <img src="img/cards/2.jpg" alt="">
            <div class="card-image-footer">
              <div class="card-category bg-color-white">Movies</div>
              <h2>A Guide to the Best Action Movies of All Time</h2>
            </div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/single/" class="card">
          <div class="card-image">
            <img src="img/cards/3.jpg" alt="">
            <div class="card-image-footer">
              <div class="card-category bg-color-white">Food</div>
              <h2>The Evolution of Burgers: From Classics to Innovative Creations</h2>
            </div>
          </div>
        </a>
      </swiper-slide>
    </swiper-container>
    <div class="light-gray-title">With Author</div>
    <swiper-container class="full-width" slides-per-view="1.2" space-between="15" slides-offset-after="15"
      slides-offset-before="15" speed="400">
      <swiper-slide>
        <a href="#" data-href="/single/" class="card">
          <div class="card-image">
            <img src="img/cards/4.jpg" alt="">
            <div class="card-image-footer">
              <h2>Exploring the Adaptations and Behaviors of these Majestic Birds</h2>
              <div class="card-author">
                <img src="img/avatars/small-avatar.jpg" alt="">
                <span>by Noah Campbell</span>
              </div>
            </div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="/#/" data-href="/single/" class="card">
          <div class="card-image">
            <img src="img/cards/2.jpg" alt="">
            <div class="card-image-footer">
              <h2>A Guide to the Best Action Movies of All Time</h2>
              <div class="card-author">
                <img src="img/avatars/small-avatar.jpg" alt="">
                <span>by Noah Campbell</span>
              </div>
            </div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="/#/" data-href="/single/" class="card">
          <div class="card-image">
            <img src="img/cards/3.jpg" alt="">
            <div class="card-image-footer">
              <h2>The Evolution of Burgers: From Classics to Innovative Creations</h2>
              <div class="card-author">
                <img src="img/avatars/small-avatar.jpg" alt="">
                <span>by Noah Campbell</span>
              </div>
            </div>
          </div>
        </a>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
