<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Author Slider</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Popular Authors</div>
    <swiper-container class="full-width authors-slider" slides-per-view="auto" space-between="10"
      slides-offset-after="15" slides-offset-before="15" speed="400">
      <swiper-slide>
        <a href="#" data-href="/profile/" class="link author-slide">
          <img src="img/avatars/11.jpg" alt="">
          <div class="author-name">
            <div>Olivia</div>
            <div>Adams</div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/profile/" class="link author-slide">
          <img src="img/avatars/3.jpg" alt="">
          <div class="author-name">
            <div>Noah</div>
            <div>Campbell</div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/profile/" class="link author-slide">
          <img src="img/avatars/4.jpg" alt="">
          <div class="author-name">
            <div>William</div>
            <div>Taylor</div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/profile/" class="link author-slide">
          <img src="img/avatars/5.jpg" alt="">
          <div class="author-name">
            <div>Ethan</div>
            <div>Jameson</div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/profile/" class="link author-slide">
          <img src="img/avatars/9.jpg" alt="">
          <div class="author-name">
            <div>Amelia</div>
            <div>Foster</div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/profile/" class="link author-slide">
          <img src="img/avatars/2.jpg" alt="">
          <div class="author-name">
            <div>Liam</div>
            <div>Evans</div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/profile/" class="link author-slide">
          <img src="img/avatars/6.jpg" alt="">
          <div class="author-name">
            <div>Mia</div>
            <div>Sullivan</div>
          </div>
        </a>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
