<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Movie Slider</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Slider With Rating</div>
    <swiper-container class="full-width" slides-per-view="2.4" space-between="15" slides-offset-after="15"
      slides-offset-before="15" speed="400">
      <swiper-slide>
        <a href="#" data-href="/movie/" class="card card-movie">
          <div class="card-image">
            <img src="img/movies/1.jpg" alt="">
            <div class="card-movie-rating">
              <i class="icon f7-icons text-color-yellow">star_fill</i>
              4.8/5
            </div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/movie/" class="card card-movie">
          <div class="card-image">
            <img src="img/movies/2.jpg" alt="">
            <div class="card-movie-rating">
              <i class="icon f7-icons text-color-yellow">star_fill</i>
              4.3/5
            </div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/movie/" class="card card-movie">
          <div class="card-image">
            <img src="img/movies/3.jpg" alt="">
            <div class="card-movie-rating">
              <i class="icon f7-icons text-color-yellow">star_fill</i>
              4.1/5
            </div>
          </div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/movie/" class="card card-movie">
          <div class="card-image">
            <img src="img/movies/4.jpg" alt="">
            <div class="card-movie-rating">
              <i class="icon f7-icons text-color-yellow">star_fill</i>
              4.5/5
            </div>
          </div>
        </a>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
