<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Category Slider</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Categories</div>
    <swiper-container class="full-width categories-slider" slides-per-view="auto" space-between="10"
      slides-offset-after="15" slides-offset-before="15" speed="400">
      <swiper-slide>
        <a href="#" data-href="/post-list/" class="link category-slide">Sports</a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/post-list/" class="link category-slide">Technology</a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/post-list/" class="link category-slide">Politics</a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/post-list/" class="link category-slide">Economics</a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/post-list/" class="link category-slide">Science</a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/post-list/" class="link category-slide">Fashion</a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/post-list/" class="link category-slide">Art</a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/post-list/" class="link category-slide">Music</a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="/post-list/" class="link category-slide">Travel</a>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
