<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Stepper</div>
    </div>
  </div>
  <div class="page-content">
    <div class="info-block">
      <div class="info-block-icon"><i class="icon f7-icons">info_circle_fill</i></div>
      <p>Stepper allows you to increment or decrement a value or quantity by clicking on "plus" or "minus" buttons.</p>
    </div>
    <div class="light-gray-title">Stepper Styles</div>
    <div class="list list-outline list-dividers full-width">
      <ul>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Default Outline</div>
            <div class="item-after">
              <div class="stepper stepper-init">
                <div class="stepper-button-minus"></div>
                <div class="stepper-input-wrap">
                  <input type="text" value="0" min="0" max="100" step="1" readonly>
                </div>
                <div class="stepper-button-plus"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Default Fill</div>
            <div class="item-after">
              <div class="stepper stepper-init stepper-fill">
                <div class="stepper-button-minus"></div>
                <div class="stepper-input-wrap">
                  <input type="text" value="0" min="0" max="100" step="1" readonly>
                </div>
                <div class="stepper-button-plus"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Light Gray</div>
            <div class="item-after">
              <div class="stepper stepper-init stepper-fill color-light-gray">
                <div class="stepper-button-minus"></div>
                <div class="stepper-input-wrap">
                  <input type="text" value="0" min="0" max="100" step="1" readonly>
                </div>
                <div class="stepper-button-plus"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Dark</div>
            <div class="item-after">
              <div class="stepper stepper-init stepper-fill color-dark">
                <div class="stepper-button-minus"></div>
                <div class="stepper-input-wrap">
                  <input type="text" value="0" min="0" max="100" step="1" readonly>
                </div>
                <div class="stepper-button-plus"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Colored</div>
            <div class="item-after">
              <div class="stepper stepper-init stepper-fill color-orange">
                <div class="stepper-button-minus"></div>
                <div class="stepper-input-wrap">
                  <input type="text" value="0" min="0" max="100" step="1" readonly>
                </div>
                <div class="stepper-button-plus"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Colored</div>
            <div class="item-after">
              <div class="stepper stepper-init stepper-fill color-teal">
                <div class="stepper-button-minus"></div>
                <div class="stepper-input-wrap">
                  <input type="text" value="0" min="0" max="100" step="1" readonly>
                </div>
                <div class="stepper-button-plus"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
