<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Stocks</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Compagnies</div>
    <div class="stock-list">
      <div class="stock-item">
        <img src="img/icons/apple.svg" alt="">
        <div class="stock-item-details">
          <div class="stock-item-top">
            <div class="stock-item-title">Apple</div>
            <div class="stock-item-value">$178.24</div>
          </div>
          <div class="stock-item-bottom">
            <div class="stock-item-name">AAPL</div>
            <div class="stock-item-change text-color-green">+$1.459 (0.82%)</div>
          </div>
        </div>
      </div>
      <div class="stock-item">
        <img src="img/icons/tesla.svg" alt="">
        <div class="stock-item-details">
          <div class="stock-item-top">
            <div class="stock-item-title">Tesla</div>
            <div class="stock-item-value">$197.16</div>
          </div>
          <div class="stock-item-bottom">
            <div class="stock-item-name">TSLA</div>
            <div class="stock-item-change text-color-red">-$3.92 (1.99%)</div>
          </div>
        </div>
      </div>
      <div class="stock-item">
        <img src="img/icons/amazon.svg" alt="">
        <div class="stock-item-details">
          <div class="stock-item-top">
            <div class="stock-item-title">Amazon</div>
            <div class="stock-item-value">$119.66</div>
          </div>
          <div class="stock-item-bottom">
            <div class="stock-item-name">AMZN</div>
            <div class="stock-item-change text-color-red">-$1.961 (1.64%)</div>
          </div>
        </div>
      </div>
      <div class="stock-item">
        <img src="img/icons/mastercard.svg" alt="">
        <div class="stock-item-details">
          <div class="stock-item-top">
            <div class="stock-item-title">Mastercard</div>
            <div class="stock-item-value">$360.49</div>
          </div>
          <div class="stock-item-bottom">
            <div class="stock-item-name">MA</div>
            <div class="stock-item-change text-color-green">+$6.890 (1.91%)</div>
          </div>
        </div>
      </div>
    </div>

    <div class="light-gray-title">Cryptocurrencies</div>
    <div class="stock-list">
      <div class="stock-item">
        <img src="img/icons/bitcoin.svg" alt="">
        <div class="stock-item-details">
          <div class="stock-item-top">
            <div class="stock-item-title">Bitcoin</div>
            <div class="stock-item-value">$27,327.24</div>
          </div>
          <div class="stock-item-bottom">
            <div class="stock-item-name">BTC</div>
            <div class="stock-item-change text-color-red">−$484.58 (1.88%)</div>
          </div>
        </div>
      </div>
      <div class="stock-item">
        <img src="img/icons/ethereum.svg" alt="">
        <div class="stock-item-details">
          <div class="stock-item-top">
            <div class="stock-item-title">Ethereum</div>
            <div class="stock-item-value">$1,866.36</div>
          </div>
          <div class="stock-item-bottom">
            <div class="stock-item-name">ETH</div>
            <div class="stock-item-change text-color-green">+$10.99 (0.59%)</div>
          </div>
        </div>
      </div>
      <div class="stock-item">
        <img src="img/icons/dogecoin.svg" alt="">
        <div class="stock-item-details">
          <div class="stock-item-top">
            <div class="stock-item-title">Dogecoin</div>
            <div class="stock-item-value">$0.07151</div>
          </div>
          <div class="stock-item-bottom">
            <div class="stock-item-name">DOGE</div>
            <div class="stock-item-change text-color-green">+$0.00086 (1.21%)</div>
          </div>
        </div>
      </div>
      <div class="stock-item">
        <img src="img/icons/litecoin.svg" alt="">
        <div class="stock-item-details">
          <div class="stock-item-top">
            <div class="stock-item-title">Litecoin</div>
            <div class="stock-item-value">$89.39</div>
          </div>
          <div class="stock-item-bottom">
            <div class="stock-item-name">LTC</div>
            <div class="stock-item-change text-color-red">-$0.874 (0.98%)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
