<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Ticket</div>
    </div>
  </div>
  <div class="page-content">
    <div class="light-gray-title">Dark With Icon</div>
    <a href="#" class="ticket-fill">
      <div class="ticket-text text-color-yellow">Black Friday</div>
      <div class="ticket-discount">$100</div>
      <div class="ticket-description">Coupon on your next order!</div>
      <div class="ticket-background-icon"><i class="icon f7-icons">signature</i></div>
    </a>
    <div class="light-gray-title">Light With Image</div>
    <a href="#" class="ticket">
      <div class="ticket-infos">
        <div class="ticket-text color-primary">Special Offer</div>
        <div class="ticket-discount">-50%</div>
        <div class="ticket-description color-primary">Off all our store!</div>
      </div>
      <div class="ticket-image"><img src="img/images/ticket-clothes.png" alt=""></div>
    </a>
    <div class="light-gray-title">Black Background Image</div>
    <a href="#" class="ticket-fill ticket-image">
      <img src="img/images/ticket-banner.jpg" alt="" class="ticket-image-bg">
      <div class="ticket-text">This Weekend</div>
      <div class="ticket-discount">-30%</div>
      <div class="ticket-description">On all our pizzas</div>
    </a>
    <div class="light-gray-title">As a Slider</div>
    <swiper-container class="full-width" slides-per-view="1.2" space-between="15" slides-offset-after="15"
      slides-offset-before="15" speed="400">
      <swiper-slide>
        <a href="#" data-href="#" class="ticket-fill">
          <div class="ticket-text text-color-yellow">Black Friday</div>
          <div class="ticket-discount">$20</div>
          <div class="ticket-description">Coupon on your next order!</div>
          <div class="ticket-background-icon"><i class="icon f7-icons">signature</i></div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="#" class="ticket-fill">
          <div class="ticket-text text-color-yellow">Black Friday</div>
          <div class="ticket-discount">$50</div>
          <div class="ticket-description">Coupon on your next order!</div>
          <div class="ticket-background-icon"><i class="icon f7-icons">signature</i></div>
        </a>
      </swiper-slide>
      <swiper-slide>
        <a href="#" data-href="#" class="ticket-fill">
          <div class="ticket-text text-color-yellow">Black Friday</div>
          <div class="ticket-discount">$100</div>
          <div class="ticket-description">Coupon on your next order!</div>
          <div class="ticket-background-icon"><i class="icon f7-icons">signature</i></div>
        </a>
      </swiper-slide>
    </swiper-container>
  </div>
</div>
