<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Toggle Button</div>
    </div>
  </div>
  <div class="page-content">
    <div class="info-block">
      <div class="info-block-icon"><i class="icon f7-icons">info_circle_fill</i></div>
      <p>Toggle button is a switch that allows the user to turn an option or setting on and off.</p>
    </div>
    <div class="list list-outline list-dividers full-width">
      <ul>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Toggle Notifications</div>
            <div class="item-after">
              <label class="toggle toggle-init">
                <input type="checkbox" checked>
                <span class="toggle-icon"></span>
              </label>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Location Services</div>
            <div class="item-after">
              <label class="toggle toggle-init color-green">
                <input type="checkbox" checked>
                <span class="toggle-icon"></span>
              </label>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Private Mode</div>
            <div class="item-after">
              <label class="toggle toggle-init color-dark">
                <input type="checkbox" checked>
                <span class="toggle-icon"></span>
              </label>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Night Shift</div>
            <div class="item-after">
              <label class="toggle toggle-init color-orange">
                <input type="checkbox" checked>
                <span class="toggle-icon"></span>
              </label>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">I Am Active by Default</div>
            <div class="item-after">
              <label class="toggle toggle-init color-green">
                <input type="checkbox" checked>
                <span class="toggle-icon"></span>
              </label>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">I Am Disabled</div>
            <div class="item-after">
              <label class="toggle toggle-init disabled color-green">
                <input type="checkbox" checked>
                <span class="toggle-icon"></span>
              </label>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
